* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
.text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 10%;
  font-size: 100px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  text-transform: capitalize;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
}
.container-t {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 30%;
}
.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 60%;
}

button {
  border: transparent;
}
#reset:hover {
  border: 1px solid red;
}
#add {
  background-color: rgb(9, 255, 0);
}
#startStop {
  background-color: red;
}
#reset {
  background-color: transparent;
  color: red;
}

/* Adding current value */
.forlaps {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60%;
}

li,
ol {
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(255, 135, 255);
  border: 1px solid black;
}

.deleter {
  cursor: pointer;
}

.deleter:hover {
  border: 2px solid red;
}
